* {
    color: #000;
}

h1 {
    color: rgb(255, 161, 47);
    text-align: center;
    font-size: 35px;
}

h2 {
    color: rgb(152, 251, 155);
}

h3 {
    color: #ff0000;
    font-size: large;
}

h4,
h5 {
    color: slateblue;
    text-decoration: unset;
}

i {
    color: deeppink;
}

p {
    color: black;
    font-size: small;
    font-weight: 550;
    font-style: italic;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    width: 400px;
    height: 200px;
}

td {
    text-align: center;
    vertical-align: center;
    padding: auto;
    border: 3px solid darkslategrey;
    background-color: lightsalmon;
    color: floralwhite;
}

ul li {
    color: #6a00ff;
}

.box1 {
    width: 500px;
    height: 20px;
    background-color: #fff000;
    background-size: 50px, 50px;
    background-position: left top;
    padding: 5px, 5px;
    border: 3px dotted rgb(17, 214, 17);
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 100px;

}

.box2 {
    width: 1500px;
    height: 15px;
    background-color: rgb(225, 212, 65);
    background-image: url(daimao.jpg);
    background-repeat: repeat;
    background-size: 15px, 15px;
    background-position: left top;
    content: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 2px solid lightskyblue;
    margin: 8px 0px;
}

.color-a {
    color: cyan;
}

.color-b {
    color: green;
}


.color-r {
    color: rgb(255, 161, 47);
}

.p1 {
    color: rgb(153, 20, 153);
    font-weight: bold;
    text-indent: 10px;
}

.p2 {
    color: #ff0000;
    font-weight: bold;
    text-indent: 10px;
}

span {
    color: rgb(80, 255, 135);
}


.size-a {
    font-size: small;
}

.size-b {
    font-size: x-small;
}

.size-c {
    font-size: medium;
}

.size-d {
    font-size: large;
}

.size-e {
    font-size: x-large;
}

.size-f {
    font-size: 30px;
}

.size-g {
    font-size: 35px;
}

.box1 {
    width: 500px;
    height: 20px;
    background-color: #fff000;
    background-size: 50px, 50px;
    background-position: left top;
    padding: 5px;
    border: 3px dotted rgb(17, 214, 17);
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 100px;

}

.box2 {
    width: 1500px;
    height: 15px;
    background-color: rgb(65, 212, 225);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    animation: breathe 3s ease-in-out infinite alternate;
    background-image: url(./daimao.jpg);
    background-repeat: repeat;
    background-size: 15px, 15px;
    background-position: left top;
    content: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 2px solid lightskyblue;
    margin: 8px 0px;
}

@keyframes breathe {
    0% {
        width: 1500px;
        height: 15px;
        opacity: .3;
        box-shadow: 0 1px 2px rgba(225, 225, 225, 0.1);
    }

    50% {
        width: 0px;
        height: 15px;
        opacity: .6;
        box-shadow: 0 1px 2px rgba(18, 190, 84, 0.76);
    }

    100% {
        width: 1500px;
        height: 15px;
        opacity: 1;
        box-shadow: 0 1px 30px rgba(59, 255, 255, 1);
    }
}

#text {
    color: rgb(255, 161, 47);
    font-size: 40px;
}

#login {
    color: rgb(30, 182, 22);
    font-size: x-large;
    text-align: center;
}