* {
    color: #000;
}

i {
    color: deeppink;
}

h1 {
    color: rgb(255, 161, 47);
    text-align: center;
    font-size: 35px;
}

h2 {
    color: rgb(152, 251, 155);
}

h3 {
    color: #ff0000;
    font-size: large;
}

h4,
h5 {
    color: slateblue;
    text-decoration: unset;
}

p {
    color: black;
    font-size: small;
    font-weight: 550;
    font-style: italic;
    font-family: sans-serif;
}

.p1 {
    color: rgb(153, 20, 153);
    font-weight: bold;
    text-indent: 10px;
}

.p2 {
    color: #ff0000;
    font-weight: bold;
    text-indent: 10px;
}

span {
    color: rgb(80, 255, 135);
}

.color-a {
    color: cyan;
}

.color-b {
    color: green;
}


.color-r {
    color: rgb(255, 161, 47);
}

.size-a {
    font-size: small;
}

.size-b {
    font-size: x-small;
}

.size-c {
    font-size: medium;
}

.size-d {
    font-size: large;
}

.size-e {
    font-size: x-large;
}

.size-f {
    font-size: 30px;
}

.size-g {
    font-size: 35px;
}

.box1 {
    width: 500px;
    height: 20px;
    background-color: #fff000;
    background-size: 50px, 50px;
    background-position: left top;
    padding: 5px;
    border: 3px dotted rgb(17, 214, 17);
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 100px;

}

.box2 {
    width: 1500px;
    height: 15px;
    background-color: rgb(65, 212, 225);
    background-image: url(daimao.jpg);
    background-repeat: repeat;
    background-size: 15px, 15px;
    background-position: left top;
    content: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 2px solid lightskyblue;
    margin: 8px 0px;
}


#text {
    color: rgb(255, 161, 47);
    font-size: 40px;
}

#login {
    color: rgb(30, 182, 22);
    font-size: x-large;
    text-align: center;
}